<h2>Find People</h2>

<% form_tag users_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search]%>
    <%= submit_tag 'Search', :name => :nil %>
  </p>
<% end %>

<% unless @users.nil? %>
  <%= will_paginate %>  
  <ul class="users">
    <%= render @users %>
  </ul>
  <%= will_paginate %>
<% end %>

